.custom_select {
    display: flex;
    position: relative;

    label {
        margin-right: 1em;
        font-weight: bold;
        line-height: 3em;
        cursor: pointer;
    }

    button {
        padding-left: .5em;
        text-align: left;
        border: transparent 0px solid;
        height: 3em;
        z-index: 2;

        &::before {
            content:">";
            transform: rotate(90deg);
            font-size: 1.5em;
            font-weight: bold;
            position: absolute;
            right: .5em;
            line-height: 1.5em;
            top: .2em;
            transition: transform .3s ease-in;
        }
    }

    button, ul {
        background-color: $font-secondary;
        color: $background-ternary;
        border-radius: .5em;
        border: transparent 0px solid;
        line-height: 3em;
        width: 8em;
    }

    ul {
        margin: 0;
        padding: 0;
        height: 3em;
        outline: none;
        transition: all .2s ease-in-out;
        overflow: hidden;
        z-index: 0;
        position: absolute;
        right: 0;
        cursor: pointer;
        
        &.is-open {
            transition: all .2s ease-in-out;
            z-index: 2;

            li:first-child::after {
                transform: rotate(-90deg);
            }
        }
    }

    li {
        list-style: none;
        height: 3em;
        border: transparent 1px solid;
        position: relative;
        padding-left: .5em;

        &.select {
            outline: $font-ternary .2em solid;
            outline-offset: -.4em;
        }

        &:not(:last-child)::before {
            content:"";
            position: absolute;
            top: -.2em;
            width: calc(100% - 1em);
            height: 3em;
            border-bottom: solid .2em white;
        }

        
        &:first-child::after {
            content:">";
            transition: transform .5s ease-in;
            transform: rotate(90deg);
            font-size: 1.5em;
            font-weight: bold;
            line-height: 1.5em;
            top: .2em;
            position: absolute;
            right: .4em;
        }

        &[aria-selected='true']{
            background-color: $background-secondary;
        }

        &:first-child {
            border-radius: .5em .5em 0 0
        }

        &:last-child {
            border-radius: 0 0 .5em .5em
        }
    }
}