header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 100px;

    .logo {
        height: 50px;
    }

    h1 {
        color: $font-secondary;
    }

    @include mobile {
        padding: 0 20px;
    }
}