#contact_modal {
    display: none;
}

.photographer {
    &__header {
        background-color: $background-ternary;
        margin: 0 100px;
        display: flex;
        height: auto;
        padding: 60px 50px;

        .photographer {
            &__title {
                text-align: left;
                margin: 0;
                font-size: 50px;
            }
    
            &__tagline {
                font-weight: 100;
                color: $font-ternary;
            }
    
            &__location, &__tagline , &__price {
                margin: 1em 0;
            }
        }
    }

    &__section {
        margin: 0 100px;

        &__media-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 70px;
            margin-top: 50px;

            @include tab {
                grid-template-columns: 1fr 1fr;
            }
        
            @include mobile {
                grid-template-columns: 1fr;
            }
        }

        figure {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            figcaption {
                font-weight: bold;
                color: $font-secondary;
                margin-top: 1em;
            }

            img, video {
                width: 100%;
                object-fit: cover;
                height: 300px;
            }
        }

        .like_count {
            font-weight: bold;
            height: 1.5em;
            width: auto;
            color: $font-secondary;
            display: flex;
            align-items: center;
            margin-top: 1em;

            img {
                height: 1em;
                width: auto;
                margin-left: .5em;
                filter: hue-rotate(49deg);
            }
        }

        nav {
            display: flex;
            margin-top: .5em;
        }
    }

    &__like-and-price {
        width: auto;
        display: flex;
        font-weight: bold;
        position: fixed;
        right: 14%;
        bottom: 0;
        padding: 1em;
        background-color: $background-secondary;
        border-radius: .5em .5em 0 0;

        p {
            margin: 0;
        }

        img {
            height: 1em;
            margin-left: .5em;
            filter: brightness(0);
        }

        div {
            display: flex;
        }

        .photographer__price {
            margin-left: 3em;
        }
    }
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;

    header {
        justify-content: space-between;
        width: 100%;

        img {
            cursor: pointer;
        }

        h2 {
            font-size: 64px;
            font-weight: normal;
            text-align: center;
        }
    }
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    label {
        color: #312E2E;
        font-size: 36px;
    }

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 26px;
    }

    input {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
    }
}